* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: rgb(212, 207, 207);
}

h1 {
  margin: 4px;
  color: rgba(59, 83, 104, 0.849);
}

#color-palette {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.color {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

input {
  text-align: center;
}

#pixel-board {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  line-height: 0.7;
  margin-bottom: 20px;
}

.pixel {
  background-color: white;
  border: solid 1px black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#controls {
  margin-top: 5px;
}

button {
  border: solid 1px black;
  border-radius: 10%;
  padding: 3px;
  background-color: rgba(59, 83, 104, 0.849);
  color: aliceblue;
}

h3 {
  color: rgba(59, 83, 104, 0.849);
  margin: 5px;
}

#controls-2 {
  margin-top: 10px;
}

#board-size {
  width: 40px;
  border: solid 1px black;
  border-radius: 10%;
  padding: 3px;
}
