* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  text-align: center;
}

h1 {
  margin: 20px;
}

#color-palette {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.color {
  width: 40px;
  height: 40px;
  border: solid 1px black;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#pixel-board {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 0.7;
}

.pixel {
  background-color: white;
  border: solid 1px black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#controls {
  margin-top: 10px;
}

button {
  border: solid 1px black;
  border-radius: 10%;
  padding: 3px;
}

#controls-2 {
  margin-top: 10px;
}

#board-size {
  width: 40px;
  border: solid 1px black;
  padding: 3px;
}
